/**Google fonts**/
@import url("https://fonts.googleapis.com/css2?family=Flavors&display=swap");

/**General styles**/
* {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

#error-textbox {
  height: 350px;
  width: 350px;
  display: flex;
  justify-self: center;
  align-content: center;
  background-color: black;
  opacity: 0.8;
  border: 2px solid rgba(249, 228, 1, 0.949);
  margin-top: 100px;
  border-radius: 30px;
}

/*Cursor was taken from https://www.flaticon.com*/
.cursor {
  height: 110px;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-image: url(../images/mallet.png);
  background-size: 100% 100%;
  transform: translate(-30%, -30%);
  transition: transform 0.1s;
  pointer-events: none;
  cursor: none;
}

.cursor.active {
  transform: translate(-20%, -20%) rotate(-45deg);
}

body {
  background-image: url(../images/avo-background-dark.webp);
  background-size: cover;
  height: 1000px;
}
h1 {
  font-family: "Flavors", sans-serif;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(249, 228, 1, 0.949);
  margin-bottom: 30px;
}

h2 {
  font-family: "Flavors", sans-serif;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(249, 228, 1, 0.949);
  margin-bottom: 30px;
}

h3 {
  font-family: "Flavors", sans-serif;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(249, 228, 1, 0.949);
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-family: "Flavors", sans-serif;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(249, 228, 1, 0.949);
  margin-bottom: 10px;
  margin-top: 10px;
}

#rules {
  font-family: "Flavors", sans-serif;
  font-size: 30px;
  font-weight: 200;
  display: block;
  justify-self: center;
  text-align: center;
  color: rgba(249, 228, 1, 0.949);
  list-style-type: none;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 40px;
}

#start-button {
  font-family: "Flavors", sans-serif;
  font-size: 30px;
  font-weight: 200;
  display: flex;
  justify-self: center;
  color: rgba(249, 228, 1, 0.949);
  background: none;
  box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
  border: 2px solid;
  margin-top: 20px;
  border-radius: 40px;
}

/** Game board styles **/

.grid {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: rgb(128, 57, 24);
  border-radius: 50%;
  box-shadow: inset 0 10px 0 7px rgb(53, 21, 6);
  box-shadow: inset 0 20px 20px 15px rgba(0, 0, 0, 0.3),
    0 0 5px 5px rgba(0, 0, 0, 0.5);
}

#score-title {
  display: flex;
  font-family: "Flavors", sans-serif;
  font-size: 30px;
  font-weight: 200;
  text-align: center !important;
}

#time-title {
  display: inline-flex;
  justify-content: right;
  font-family: "Flavors", sans-serif;
  font-size: 30px;
  font-weight: 200;
}

#time-title h2 {
  font-size: 40px;
}

#game-screen {
  display: block;
  justify-items: center;
  align-content: center;
  max-height: 800px;
}

.good-mole {
  background-image: url(../images/good-mole.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-items: center;
}
.bad-mole {
  background-image: url(../images/bad-mole.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.game-over {
  font-family: "Flavors", sans-serif;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(249, 228, 1, 0.949);
  padding: 5px;
}

#end-game-result {
  border-radius: 40px;
}

.restart-button {
  font-family: "Flavors", sans-serif;
  font-size: 40px;
  font-weight: 200;
  display: flex;
  justify-self: center;
  color: rgba(249, 228, 1, 0.949);
  background: none;
  box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
  border: 2px solid rgba(249, 228, 1, 0.949);
  margin-top: 30px;
  border-radius: 10px;
}

/*Feedback section */
.form-label {
  text-align: center;
  display: flex;
  font-family: "Flavors", sans-serif !important;
  color: rgba(249, 228, 1, 0.949);
  justify-content: center;
  font-size: 30px;
}

.form-control {
  display: flex;
  justify-self: center;
  width: 75%;
}

#textarea1 {
  display: flex;
  height: 100px;
}

.btn {
  text-align: center;
  display: flex;
  justify-self: center;
  width: 100%;
  font-family: "Flavors", sans-serif !important;
  color: rgba(249, 228, 1, 0.949);
  background: none;
  justify-content: center;
  font-size: 30px;
  border-radius: 40px;
  box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
  background-color: black;
  opacity: 0.8;
}

button {
  display: flex;
  justify-self: center;
  align-items: center;
  background: none;
  border-radius: 40px;
  background-color: black;
}

#return-home {
  margin-top: 40px;
  width: 25%;
  display: flex;
  justify-self: center;
}

/*styles for tablet sized screens*/
@media screen and (min-width: 728px) {
  body {
    background-image: url(../images/avo-background-dark.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: none;
  }
  h1 {
    font-family: "Flavors", sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }

  h2 {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }

  #rules {
    font-family: "Flavors", sans-serif;
    font-size: 30px;
    font-weight: 400;
    display: block;
    justify-self: center;
    text-align: center;
    color: rgba(249, 228, 1, 0.949);
    list-style-type: none;
    margin-bottom: 30px;
    width: 75%;
  }

  .start-button {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    display: flex;
    justify-self: center;
    color: rgba(249, 228, 1, 0.949);
    box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
    border: 2px solid rgba(249, 228, 1, 0.949);
    margin-top: 30px;
    border-radius: 10px;
  }

  /** Game board styles **/

  .grid {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    gap: 20px;
  }

  .square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(128, 57, 24);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6);
    box-shadow: inset 0 20px 20px 15px rgba(0, 0, 0, 0.3),
      0 0 5px 5px rgba(0, 0, 0, 0.5);
  }

  #score-title {
    display: flex;
    font-family: "Flavors", sans-serif;
    font-size: 20px;
  }

  #score-title h2 {
    font-size: 40px;
  }

  #time-title {
    display: flex;
    justify-content: center;
    font-family: "Flavors", sans-serif;
    font-size: 20px;
  }

  #time-title h2 {
    font-size: 40px;
  }

  .good-mole {
    background-image: url(../images/good-mole.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
  }
  .bad-mole {
    background-image: url(../images/bad-mole.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .game-over {
    font-family: "Flavors", sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }

  .restart-button {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    display: flex;
    justify-self: center;
    color: rgba(249, 228, 1, 0.949);
    box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
    border: 2px solid rgba(249, 228, 1, 0.949);
    margin-top: 30px;
    border-radius: 10px;
  }

  /*Feedback section */
  #feedback-form {
    font-family: "Flavors", sans-serif !important;
    font-size: 60px !important;
    font-weight: 400;
    display: flex;
    justify-self: center;
    color: rgba(249, 228, 1, 0.949);
  }

  .form-label {
    text-align: center;
    display: flex;
    font-family: "Flavors", sans-serif !important;
    color: rgba(249, 228, 1, 0.949);
    justify-self: center;
    border-radius: 40px;
    width: 50%;
    margin-bottom: 1rem;
  }

  .form-control {
    display: flex;
    justify-self: center;
    width: 60%;
  }

  .btn {
    text-align: center;
    display: flex;
    justify-self: center;
    width: 100%;
    font-family: "Flavors", sans-serif !important;
    color: rgba(249, 228, 1, 0.949);
    background: none;
    justify-content: center;
    font-size: 30px;
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
    background-color: black;
    opacity: 0.8;
  }

  button {
    display: flex;
    justify-self: center;
    align-items: center;
    background: none;
    border-radius: 40px;
    background-color: black;
    width: 25%;
  }

  #error-textbox {
    height: 450px;
    width: 450px;
    display: flex;
    justify-self: center;
    align-content: center;
    background-color: black;
    opacity: 0.8;
    border: 2px solid rgba(249, 228, 1, 0.949);
    margin-top: 100px;
    border-radius: 30px;
  }

  #return-home {
    margin-top: 40px;
    width: 25%;
    display: flex;
    justify-self: center;
  }
}

/*stles for L screens*/
@media screen and (min-width: 992px) {
  body {
    background-image: url(../images/avo-background-dark.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: alias;
  }

  /*Cursor was taken from https://www.flaticon.com*/
  .cursor {
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url(../images/mallet.png);
    background-size: 100% 100%;
    transform: translate(-30%, -30%);
    transition: transform 0.1s;
    pointer-events: none;
  }

  .cursor.active {
    transform: translate(-20%, -20%) rotate(-45deg);
  }

  h1 {
    font-family: "Flavors", sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }

  h2 {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }

  #rules {
    font-family: "Flavors", sans-serif;
    font-size: 30px;
    font-weight: 400;
    display: block;
    justify-self: center;
    text-align: center;
    color: rgba(249, 228, 1, 0.949);
    list-style-type: none;
    margin-bottom: 30px;
  }

  #start-button {
    font-family: "Flavors", sans-serif;
    font-size: 40px;
    font-weight: 400;
    display: flex;
    justify-self: center;
    color: rgba(249, 228, 1, 0.949);
    background: none;
    box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
    border: 2px solid rgba(249, 228, 1, 0.949);
    margin-top: 30px;
    border-radius: 10px;
  }

  /** Game board styles **/

  .grid {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    gap: 20px;
  }

  .square {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: rgb(128, 57, 24);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6);
    box-shadow: inset 0 20px 20px 15px rgba(0, 0, 0, 0.3),
      0 0 5px 5px rgba(0, 0, 0, 0.5);
  }

  #score-title {
    display: inline-flex;
    font-family: "Flavors", sans-serif;
    font-size: 20px;
    margin-right: 60px;
  }

  #score-title h2 {
    font-size: 40px;
  }

  #time-title {
    display: inline-flex;
    justify-content: right;
    font-family: "Flavors", sans-serif;
    font-size: 20px;
    margin-left: 50px;
  }

  #time-title h2 {
    font-size: 40px;
  }

  .good-mole {
    background-image: url(../images/good-mole.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
  }
  .bad-mole {
    background-image: url(../images/bad-mole.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .game-over {
    font-family: "Flavors", sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }

  .restart-button {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    display: flex;
    justify-self: center;
    color: rgba(249, 228, 1, 0.949);
    box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
    border: 2px solid rgba(249, 228, 1, 0.949);
    margin-top: 30px;
  }

  .form-label {
    text-align: center;
    display: flex;
    font-family: "Flavors", sans-serif !important;
    color: rgba(249, 228, 1, 0.949);
    justify-content: center;
  }

  /*Feedback section */
  #feedback h3 {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    display: flex;
    justify-self: center;
    color: rgba(249, 228, 1, 0.949);
  }

  .form-control {
    display: flex;
    justify-self: center;
    width: 60%;
  }

  .btn {
    text-align: center;
    display: flex;
    justify-self: center;
    width: 100%;
    font-family: "Flavors", sans-serif !important;
    color: rgba(249, 228, 1, 0.949);
    background: none;
    justify-content: center;
    font-size: 40px;
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
    background-color: black;
    opacity: 0.8;
  }

  button {
    display: flex;
    justify-self: center;
    align-items: center;
    background: none;
    border-radius: 40px;
    background-color: black;
    width: 25%;
  }

  #return-home {
  margin-top: 40px;
    width: 25%;
    display: flex;
    justify-self: center
}
}

/*styles for  XXL screens*/
@media screen and (min-width: 1400px) {
  body {
    background-image: url(../images/avo-background-dark.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: none;
  }

  .cursor {
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url(../images/mallet.png);
    background-size: 100% 100%;
    transform: translate(-30%, -30%);
    transition: transform 0.1s;
    pointer-events: none;
  }

  .cursor.active {
    transform: translate(-20%, -20%) rotate(-45deg);
  }

  h1 {
    font-family: "Flavors", sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }

  h2 {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }
  h3 {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }

  #rules {
    font-family: "Flavors", sans-serif;
    font-size: 40px;
    font-weight: 400;
    display: block;
    justify-self: center;
    text-align: center;
    color: rgba(249, 228, 1, 0.949);
    list-style-type: none;
    margin-bottom: 30px;
  }

  .start-button {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    display: flex;
    justify-self: center;
    color: rgba(249, 228, 1, 0.949);
    background: none;
    box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
    border: 2px solid rgba(249, 228, 1, 0.949);
    margin-top: 30px;
    border-radius: 10px;
  }

  /** Game board styles **/

  .grid {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    gap: 20px;
  }

  .square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(128, 57, 24);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6);
    box-shadow: inset 0 20px 20px 15px rgba(0, 0, 0, 0.3),
      0 0 5px 5px rgba(0, 0, 0, 0.5);
  }

  #score-title {
    display: flex;
    font-family: "Flavors", sans-serif;
    font-size: 30px;
    margin-left: 70px;
  }

  #score-title h2 {
    font-size: 40px;
  }

  #time-title {
    display: flex;
    justify-content: center;
    font-family: "Flavors", sans-serif;
    font-size: 30px;
    margin-right: 60px;
  }

  #time-title h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }

  .good-mole {
    background-image: url(../images/good-mole.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
  }
  .bad-mole {
    background-image: url(../images/bad-mole.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .game-over {
    font-family: "Flavors", sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 228, 1, 0.949);
    margin-bottom: 30px;
  }

  .restart-button {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    display: flex;
    justify-self: center;
    color: rgba(249, 228, 1, 0.949);
    background: none;
    box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
    border: 2px solid rgba(249, 228, 1, 0.949);
    margin-top: 30px;
    border-radius: 40px;
  }

  .form-label {
    text-align: center;
    display: flex;
    font-family: "Flavors", sans-serif !important;
    color: rgba(249, 228, 1, 0.949);
    border-radius: 40px;
    justify-content: center;
  }

  .form-control {
    display: flex;
    justify-self: center;
    width: 30%;
  }

  /*Feedback section */
  #feedback h3 {
    font-family: "Flavors", sans-serif;
    font-size: 60px;
    font-weight: 400;
    display: flex;
    justify-self: center;
    color: rgba(249, 228, 1, 0.949);
    border-radius: 40px;
  }

  #error-textbox {
    height: 550px;
    width: 600px;
    display: flex;
    justify-self: center;
    align-content: center;
    background-color: black;
    opacity: 0.8;
    border: 2px solid rgba(249, 228, 1, 0.949);
    margin-top: 100px;
    border-radius: 30px;
  }

  .btn {
    text-align: center;
    display: flex;
    justify-self: center;
    width: 100%;
    font-family: "Flavors", sans-serif !important;
    color: rgba(249, 228, 1, 0.949);
    background: none;
    justify-content: center;
    font-size: 40px;
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(249, 228, 1, 0.949);
    background-color: black;
    opacity: 0.8;
  }

  button {
    display: flex;
    justify-self: center;
    align-items: center;
    background: none;
    border-radius: 40px;
    background-color: black;
    width: 20%;
  }

  #return-home {
  margin-top: 40px;
    width: 25%;
    display: flex;
    justify-self: center
}

}
